.tag {
  float   : right;
  margin  : 0 4px 0 4px;
  opacity : .5;
  position: relative;
  height  : 17px; 
}

a {
  color:#444444;
}

map, div[map] {
  display : block; 
  opacity : 1;
  position: absolute;
  top     : 0px;
  right   : 0px; 
  width   : 100%; 
  height  : 100%;
}

.logo{
  z-index:10;
  padding:15px;
}

.logoBg{
  background-color:rgba(255,255,255,0.85);
  -moz-border-radius: 80px;
  border-radius: 80px;
}

table{
  border-radius: 5px; 
  -moz-border-radius: 5px; 
}

.withfadein {
  -webkit-transition: all 60s ease-in;
  -moz-transition: all 60s ease-in;
  -ms-transition: all 60s ease-in;
  -o-transition: all 60s ease-in;
  transition: all 60s ease-in;
}

.withfadeout {
  -webkit-transition: all 60s ease-out;
  -moz-transition: all 60s ease-out;
  -ms-transition: all 60s ease-out;
  -o-transition: all 60s ease-out;
  transition: all 60s ease-out;
}

