@import 'nib'

.hme-logo {
  position: relative;
  background-color: #fff;
  border-radius: 20px;
  width: 320px;
  height: 85px;
  margin: 22px 4px;
  box-shadow: 0 1px 2px #fff, 0 -1px 1px rgba(102, 102, 102, 0.65), inset 0px 0px 10px 0px rgba(171, 171, 171, 0.56), inset 0px 0px 10px 0px #ABABAB; /*top internal highlight*/
}