@import 'nib'

.hme-logo {
  position: relative;
  margin: 22px 4px;
  width: 336px;
  height: 87px;
  border-radius: 70px;
  background-image: linear-gradient(to top, #EBEBEB 0%, #ECECEC 50%, #F3F3F3 50%, #FFF 100%);
  box-shadow: inset 0 1px 0 rgba(255,255,255,1), 0 1px 0 rgba(0,0,0,0.09);
  border: 1px solid #9a9a9a;
}
.logo{
  z-index: 10;
  padding: 14px 26px;
} 
