.hme-search-results{
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 700px;

  .table{
    background-color: white;
    table-layout: fixed;
    border: grey;
    border-width:1px;
  }
  .table th{
    border-bottom: 1px;
  }
  .table .left-column{
    padding-left:7px;
  }
  thead > tr, tbody{
    display:block;
  }
  tbody{
    max-height: 350px;
    overflow: auto;
  }
  .first-column{
    width: 160px;
  }
  .second-column{
    width: 400px;
  }
  .third-column{
    width: 100px;
  }
  .fourth-column{
    width: 80px;
  }

  .info-text{
    color: #888;
  }
  .title-text{
    color: #222;
  }
  .description-text{
    color: #444;
    line-height: 1.5;
  }
  .clickable{
    cursor: pointer;
  }
  .badge{
    float: right;
    margin: 0 4px 0 4px;
  }
  .route-btn{
    height: 20px;
  }
}