@import 'nib'
.hme-search-results{
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 700px;

  table{
    border-radius: 5px; 
    background-color: rgb(247,247,247);
    box-shadow: inset 0 1px 0 rgba(230,255,255,1), 0 1px 0 rgba(0,0,0,0.09);
  }
  thead > tr{
    display: block;
    border-radius: 5px; 
    background: linear-gradient(to top, #EBEBEB 0%, #ECECEC 50%, #F3F3F3 50%, #FFF 100%);
  }
  thead > tr > td{
    font-weight: 700;
    border-bottom: #AAA 1px solid;
  }
  tbody{
    display: block;
    overflow-y: auto;
  }
  tbody > tr:first-child > td{
    border-top: none;
  }
  .table tbody tr:hover td, .table tbody tr:hover th {
    background-color: rgb(252,252,252);
  }
  
  .first-column{
    width: 160px;
    padding-left: 6px;
  }
  .second-column{
    width: 400px;
  }
  .third-column{
    width: 100px;
  }
  .fourth-column{
    width: 80px;
  }
  .bottom-row{

  }
  .date-text{
    color: #555;
    font-weight: 600;
    font-size: 14px;
  }
  .title-text{
    color: #222;
  }
  .description-text{
    margin: 0;
    color: #444;
    text-indent: 19px;
    font-weight: 600;
    font-size: 12px;
  }
  .url-text{
    font-size: 13px;
    font-weight: 700;
    font-family: Arial;
  }
  .clickable{
    cursor: pointer;
  }
  .badge{
    float: right;
    margin: 0 4px 0 4px;
    background-color: rgba(133, 122, 122, 0.84);
    margin-top: 3px;
    padding: 3px 7px;
  }
  .route-btn{
    height: 20px;
    position: relative;
    float   : right;
    margin  : 0 4px;
    height  : 17px; 
    opacity : 0.5;
  }
}