<div class="hme-search-results">
    <table class="table table-condensed table-hover">
      <thead>
        <tr class="table-header">
          <th class="first-column">
            <button type="button" class="btn btn-sm" ng-class="{active: orderCriteria == 'time'}" ng-click="orderCriteria = 'time'">
              <span class="glyphicon glyphicon-time"></span>
              <span class="glyphicon glyphicon-sort-by-attributes"></span>
            </button>
          </th>
          <th class="second-column"> Event </th>
          <th class="third-column">
            <button type="button" class="btn btn-sm" ng-class="{active: orderCriteria == 'distance'}" ng-click="orderCriteria = 'distance'">
              <span class="glyphicon glyphicon-hand-right"></span>
              <span class="glyphicon glyphicon-sort-by-attributes"></span>
            </button>
          </th>
          <th class="fourth-column"> Route </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="foodEvent in foodEvents | eventDistance: radius | eventTime: timeframe | orderBy: orderCriteria: reverse" ng-mouseover="foodEvent.highlightMarker();" ng-mouseout="foodEvent.normalizeMarker()">
          
          <td class="first-column">
            <span class="info-text"> {{ foodEvent.timeFMT | capitalize }} </span>
            <button type="button" class="btn btn-sm pull-right" ng-click="foodEvent.showDescription = !foodEvent.showDescription"> 
              <span class="glyphicon glyphicon-resize-small" ng-show="foodEvent.showDescription"></span>
              <span class="glyphicon glyphicon-resize-full" ng-hide="foodEvent.showDescription"></span>
            </button>
          </td>

          <td class="second-column clickable" ng-click="foodEvent.showDescription = !foodEvent.showDescription">
            <b class="title-text"> {{ foodEvent.name | capitalize }} </b>
            <p class="description-text text-justify" ng-show="foodEvent.showDescription"> {{foodEvent.text}} </p>
            <span ng-repeat="item in foodEvent.foodProvided" class="badge"> {{item}} </span>
          </td>

          <td class="third-column" ng-click="showRoute(foodEvent)">
            <span class="info-text"> At {{ foodEvent.distance | number:1 }} mi. </span>
          </td>
          <td class="fourth-column">
            <button type="button" class="btn btn-sm" ng-click="showRoute(foodEvent)"> 
              <img class="tag route-btn" src="/assets/by-melvin-popelaars/icon_29608.svg" style="height:20px" />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
</div>