.hme-search-bar{
  position: relative;
  width: 395px;
  .icon-btn{
    display: inline-block;
    padding: 4px 6px 6px;
    margin-right: -2px;
    margin-left: 1px;
    width: 30px;
    background-color: #fff;
    border-color: #ccc;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
  }
  .first-btn, .second-btn, .third-btn{
    margin-right: -3px;
  }
  .first-btn:focus, .second-btn:focus, .third-btn:focus{
    outline: 0;
  }
  .first-btn{
    width: 120px;
  }
  .second-btn{
    width: 120px;
  }
  .third-btn{
    width: 120px;
  }
  .btn-row{
    margin-top: 1px;
  }

}