<div class="hme-search-bar">
  <!-- Top Row -->
  <!-- <span class="glyphicon glyphicon-map-marker"></span> -->
  <input class="form-control" ng-model="address" name="address" type="text" autofocus placeholder="Zip, address">
  
  <!-- Middle Row -->
  <div class="btn-row">
    <span class="icon-btn">
      <span class="glyphicon glyphicon-time"></span>
    </span>
    <button type="button" class="btn btn-default text-btn" ng-class="{active: timeframe == 'today'}" ng-click="timeframe = 'today'">
      Today <span style="opacity:.5" class="badge">{{ getCount("today") }}</span>
    </button>
    <button type="button" class="btn btn-default text-btn" ng-class="{active: timeframe == 'tomorrow'}" ng-click="timeframe = 'tomorrow'">
      Tomorrow <span style="opacity:.5" class="badge">{{ getCount("tomorrow") }}</span>
    </button>
    <button type="button" class="btn btn-default text-btn" ng-class="{active: timeframe == 'thisweek' }" ng-click="timeframe = 'thisweek'">
      Later <span style="opacity:.5" class="badge">{{ getCount("thisweek") }}</span>
    </button>

  <!-- Bottom Row -->
    <span class="icon-btn">
      <span class="glyphicon glyphicon-hand-right"></span>
    </span>
    <button type="button" class="btn btn-default text-btn" ng-class="{active: radius == 1}" ng-click="radius = 1">
      < 1 mi. <span style="opacity:.5" class="badge">{{ getCount(timeframe, 1) }}</span>
    </button>
    <button type="button" class="btn btn-default text-btn" ng-class="{active: radius == 3}" ng-click="radius = 3">
      < 3 mi. <span style="opacity:.5" class="badge">{{ getCount(timeframe, 3) }}</span>
    </button>
    <button type="button" class="btn btn-default text-btn" ng-class="{active: radius == 5}" ng-click="radius = 5">
      < 5 mi. <span style="opacity:.5" class="badge">{{ getCount(timeframe, 5) }}</span>
    </button>
  </div>
</div>